/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Bender-Light";
  src: url("../assets/Fonts/Bender_Light/Bender_Light.eot") format("eot"),
    url("../assets/Fonts/Bender_Light/Bender_Light.woff") format("woff"),
    url("../assets/Fonts/Bender_Light/Bender_Light.ttf") format("truetype"),
    url("../assets/Fonts/Bender_Light/Bender_Light.svg#Bender-Light") format("svg");
}

@font-face {
    font-family: 'bohemian-typewriter';
    src: URL('../assets/Fonts/Bohemian_Typewriter_Regular/Bohemian\ Typewriter.ttf') format('truetype');
  }

@font-face {
  font-family: 'nixie-one';
  src: URL('../assets/Fonts/Nixie_One/NixieOne.ttf') format('truetype');
}

body {
  cursor: default;
  user-select: none;
  font-family: nixie-one;
  font-size: 16px;

  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: rgb(29, 29, 29);
}

#guide {
  text-align: center;
  color: rgb(195, 195, 195);
}

#title {
  text-align: center;
  margin-top: 2rem;
}

#title h1 {
  color: rgb(195, 195, 195);
}

#game_window {
  position: relative;
  width: 1600px;
  height: 700px;
  margin: 0 auto;

  background-color: #000000;
  border: 1px solid black;
}

#menu_block {
  position: absolute;
  width: 1600px;
  height: 700px;
  left: 0;
  top: 0;

  text-align: center;
  color: white;
}

.menu {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 1600px;
  height: 700px;
  left: 0;
  top: 0;
}

#main_menu {
  background-image: url("../assets/images/ui/menu-background.png");
}

#exit_menu {
  background-color: black;
}

#main_canvas {
  left: 0;
  top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 0;
}

a {
  color: inherit;
  text-decoration: none;
  text-shadow: -1px -1px 0 black;
}

.button {
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 30px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  text-shadow: 1px 1px 0 black;
  background-image: linear-gradient(
    to bottom,
    #363636 0%,
    rgb(39, 39, 39) 100%
  );
  border: 1px solid white;
  border-radius: 0px;
}

.button:hover {
  background-color: #494748;

  animation: glowing 1300ms infinite;
  
}

@keyframes glowing {
    0% {
      background-color: #000000;
      box-shadow: 0 0 3px #52dd28;
    }
    50% {
      background-color: #4e4e4e;
      box-shadow: 0 0 10px #31a80c;
    }
    100% {
      background-color: #909090;
      box-shadow: 0 0 3px #195a05;
    }
  }

.sprite {
  display: none;
}

.hidden {
  opacity: 0;
}
